// Colors
$white: #fff;
$cod-grey: #111;
$porcelain: #edeff0;
$scooter: #39add1;
$muddy-waters: #ba8058;
$tacao: #eaaa7f;
$manhattan: #f4c6a6;
$twilight-blue: #FBFEFF;
$outer-space: #2D3339;
$bull-shot: #844B24;
$abbey : #52595F;

$color-background: $porcelain;
$color-container: $white;
$color-txt: $cod-grey;
$color-hover: $cod-grey;
$color-links: $scooter;
$color-captions: $muddy-waters;

// Paths
$img-path : '../svgs';

// Breakpoints
$brk-small : 419px;